<!DOCTYPE html>
<html>
  <head>
    <title>Rocket Elevators</title>
    <script>
      var plugin_path = 'vendor/assets/javascripts/'
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:head_tags) %>
    <%= include_recaptcha_js %>
  </head>
  <body class="smoothscroll enable-animation">
    <div id="page-container">
      <%= render 'partials/header' %>
      <div id="wrapper">
        <%= render 'partials/alerts'%>
        <%= yield %>
        <% if !current_page?(addresses_path) %>
          <%= render 'partials/footer' %>
        <% end %>
      </div>
    </div>
    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>
    <!-- PRELOADER -->
    <div id="preloader">
      <div class="inner">
        <span class="loader"></span>
      </div>
    </div>
    <!-- /PRELOADER -->
    <%= javascript_include_tag 'scripts' %>
  </body>
</html>
